/*Background Image & Body Font*/
html {
    width: auto;
    overflow-x: hidden;
    /*Footer*/
    position: relative;
    min-height: 100%;
}

body {
    width: auto;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    width: auto;
    overflow-x: hidden;
    background-color:#242424;
    
    
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/*Navbar*/
.navbar-default {
    width:100%;
    background-color:whitesmoke;
    height:110px;
    border-color: gainsboro;
    color: whitesmoke;
    position:fixed;
}

/*Fix Sign In Button on Mobile*/
.navbar-right {
    padding-left: 10px;
}

/*Hover over text color*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF; 
}

/*Text Color*/
.navbar-default .navbar-nav > li > a {
    color: whitesmoke; 
}

/*Navbar Brand Color on Hover*/
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFFFFF;
}

/*Navbar Brand Color*/
.navbar-default .navbar-brand {
    color: darkgray;
}

/*Center Navbar Items*/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    line-height: 150px;
}

.navbar .navbar-collapse {
    text-align: center;
}
.navbar a{
    font-size: 1.5em;
    color:black;
    padding:50px;
}

/*Logo Image*/
#logo {
    overflow-x: hidden;	
    background-image: url('../images/1600_1000withText.png');
    background-size: cover;
    background-position: center;
    margin-top:100px;
    padding-bottom:200px;
}
#content h2{
    padding-top:20px;
}
#content img{
    padding-bottom:20px;
}
/*Content*/
#content {
    text-align: center;
    width:100%;
    height:700px;
}
video{
    height:600px;
}

.well {
    background-color: #590f0f;
    border-color: #323232;
    color: whitesmoke;
}

/*Footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #242424;
    border-color: #323232;
    color: whitesmoke;
}
@media screen and (min-width:1060px){
    video{
        height:800px;
    }   
}
@media screen and (max-width:800px){
    video{
        height:400px;
    }   
}